@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Test out your team building and Batteling skills in this cheap rip off of PokemonShowdown :)</a>.</p>
    <p>Disclaimer: Battle feature soon to come </a>.</p>
</div>
