<div>
    <input type="text" id="userInput" placeholder="Your name" />
    <button id="joinButton">Join</button>

    <div>
        <input type="text" id="messageInput" placeholder="Your message" />
        <button id="sendButtonHub">Send</button>
    </div>

    <ul id="messagesList"></ul>
</div>


