@model MoveFormModel

@{
	ViewData["Title"] = "Edit Move";
}

<h2 class="text-center">@ViewData["Title"]</h2>

<partial name="_MoveFormPartial" model="@Model" />

@section Scripts {
	<partial name="_ValidationScriptsPartial" />"
}

